{{ define "nav" }}
<table border="0" style="table-layout: fixed; width: 100%;">
	<tr>
		<td>{{ if (ge .Prev 0) }}<p align="left"><a href="/?page={{ .Prev }}">&lt;</a></p>{{ end }}</td>
		<td><p align="center"><a href="/feeds">feeds</a></p></td>
		<td>{{ if (gt .Next 0) }}<p align="right"><a href="/?page={{ .Next }}">&gt;</a></p>{{ end }}</td>
	</tr>
</table>
{{ end }}

{{ template "nav" . }}
<hr>
{{ range .Items }}
<p><b><a href="{{ if (eq (index .URL 0) '/')}}{{ .Host }}{{ end }}{{ .URL }}">{{ .Title }}</b></a> (<a href="{{ .Host }}">{{ .Host }}</a>)<br>{{ .Added }}</p>
{{ end }}
<hr>
{{ template "nav" . }}
